/*
*
* Don't like mine style? Edit this file. But make sure you backup this cssfile before upgrading to a newer version.
*
*/

#ticker{
	height: 100px;
}

.newsTicker li{
	list-style: none;
}

.tweet{
	padding-bottom: 5px;
}

.date{
    padding-top: 10px;
	font-size: x-small;
}